@font-face{
  font-family: 'sharpgrotesk';
  src: url('/assets/font/Sharp_Grotesk/SharpGrotesk-Bold20.otf');
  font-weight: bold;
}
@font-face{
  font-family: 'sharpgrotesk';
  src: url('/assets/font/Sharp_Grotesk/SharpGrotesk-SemiBold15.otf');
  font-weight: 200;
}
@font-face{
  font-family: 'sharpgrotesk';
  src: url('/assets/font/Sharp_Grotesk/SharpGrotesk-SemiBold20.otf');
  font-weight: 400;
}