body {
  box-sizing: border-box;
  overflow: hidden;

  .main__div__louisvuitton{
    display: flex;
    justify-content: center;

    .image__louisvuitton{
      position: absolute;
      top: 0;
      height: 791px;
      width: 791px;
      z-index: 1;
  }
}


  .main__div__levis {
      display: flex;
      justify-content: flex-end;

    .image__levis {
    width: 235px;
    height: 651px;
    margin-right: 26px;
    object-fit: cover;
    }
  }

  .main__div__application {
  display: flex;
  justify-content: flex-start;

    .image__application {
      top: 0;
     margin-left: 25px;
      z-index: 15;
   } 
  }
}